*{
  margin: 0px;
}
#main, #canvas{
  margin-top: 90px;
  border: 2px none black;
}
#canvas{
  width: 80%;
  margin: auto;
  height: 1000px;
}
.headings{
  margin: 3px;
  padding-left: 5px;
  margin-top: 10px;
}

td a {
  margin: 4px;
}

table a {
  text-decoration: none;
}

.card {
  height: 350px; 
  padding: 10px;  
}

.card-img-top {
  margin-top: 10px;
  height: 120px;
  object-fit: scale-down;
  margin-bottom: 20px;
}
.card-title {
  font-size: 1.1rem;  
  margin-bottom: 10px;  
}
.card-text {
  font-size: 0.9rem; 
  margin-bottom: 15px;  
}