*{
  margin: 0px;
}
#main, #canvas{
  margin-top: 120px;
  border: 2px none black;
}
#canvas{
  width: 80%;
  margin: auto;
  height: max-content;
  padding-bottom: 100px;
}

.headings{
  margin: 3px;
  padding-left: 5px;
}