<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Professional Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='prof-dash.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
</head>
<body>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="#" style="text-decoration: none;">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Chorely Logo" width="50" height="50" id="logo">
        <span style="font-size: 1.5rem;">Chorely</span>
      </a>
      <div style="display: flex;">
        <a class="nav-link active" aria-current="page" href="#">Home</a> 
        <span class="header-span"></span>
        <span class="header-span"></span>
        <a class="nav-link" href="#">Search</a>
        <span class="header-span"></span>
        <span class="header-span"></span>
        <a class="nav-link" href="#">Summary</a>
      </div>
      <div class="d-flex text text-end">
        <a class="nav-link" href="#">{{ pro.name }}</a>
        <span style="margin: 0px 25px 0px 0px;"></span>
        <a class="nav-link text-danger" href="/userlogin">Logout</a>
      </div>
    </div>
  </nav>
  <div id="main">
    <div id="canvas">
      <br>
      <h2 class="headings">Open Services</h2><br>
      {% if requested_services | length ==0 %}
        <div class="text text-center">
          <h5 class="headings">There are no services to display</h5>
        </div>
      {% else %}
        <div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Contact Phone</th>
                <th scope="col">Location</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for service in requested_services %}
                <tr>
                  <th scope="row">{{ loop.index }}</th>
                  <td>{{ service.customer.name }}</td>
                  <td>{{ service.customer.phone }}</td>
                  <td>{{ service.customer.address | title }} ({{ service.customer.pin_code }})</td>
                  {% if service.service_status == 'requested' %}
                    <td style="display: flex;"><a href="/user/prof/{{ pro.user_id }}/service/{{ service.request_id }}/accept" class="nav-link text-success accept-btn" >Accept</a><a href="/user/prof/{{ pro.user_id }}/service/{{ service.request_id }}/reject" class="nav-link text-danger reject-btn">Reject</a> </td>
                  {% else %}
                    <td class="text text-success">Accepted</td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}

      <br>
      <h2 class="headings">Closed Services</h2><br>
      {% if closed_services | length ==0 %}
        <div class="text text-center">
          <h5 class="headings">There are no closed services to display</h5>
        </div>
      {% else %}
        <div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Contact Phone</th>
                <th scope="col">Location</th>
                <th scope="col">Date</th>
                <th scope="col">Rating</th>
              </tr>
            </thead>
            <tbody>
              {% for service in closed_services %}
                <tr>
                  <th scope="row">{{ loop.index }}</th>
                  <td>{{ service.customer.name }}</td>
                  <td>{{ service.customer.phone }}</td>
                  <td>{{ service.customer.address | title }} ({{ service.customer.pin_code }})</td>
                  <td>{{ service.date_of_completion }}</td>
                  <td>{{ service.rating }} / 5</td>
                </tr>
              {% endfor %}
              
            </tbody>
          </table>
        </div>
      {% endif %}

    <div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-mQ93lEdRIU7WUpPusYS5PQu2Wl0lNx9exjJtTzm7Nq6pZl+rcSkkYVEQ7OIslWAv" crossorigin="anonymous"></script>
</body>
</html>