<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Remarks</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='remarks.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
</head>
<body>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="#" style="text-decoration: none;">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Chorely Logo" width="50" height="50" id="logo">
        <span style="font-size: 1.5rem;">Chorely</span>
      </a>
      <div style="display: flex;">
        <a class="nav-link active" aria-current="page" href="/user">Home</a>
        <span class="header-span"></span>
        <span class="header-span"></span>
        <a class="nav-link" href="/user/customer/{{ user.user_id }}">Search</a>
        <span class="header-span"></span>
        <span class="header-span"></span>
        <a class="nav-link" href="/user/{{ user.user_id }}/summary">Summary</a>
      </div>
      <div class="d-flex text text-end">
        <a class="nav-link" href="/user/{{ user.user_id }}/profile">{{ user.username }}</a>
        <span style="margin: 0px 25px 0px 0px;"></span>
        <a class="nav-link text-danger" href="/userlogin">Logout</a>
      </div>
    </div>
  </nav>
  <div id="main">
    <div id="canvas">
      <h2 class="headings text text-center">Service Remarks</h2><br>
      <div class="card text-center" style="width: 60%; margin: auto;">
        <div class="card-header">
          Request Id : {{ service_request.request_id }}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ service_request.service.name | title }}</h5>
          <p class="card-text">{{ service_request.customer.name | title }}</p>
          <table class="table table-borderless mb-3">
            <tbody>
              <tr>
                <th>Professional Id</th>
                <td>{{ service_request.professional.professional_id  }}</td>
              </tr>
              <tr>
                <th>Professional Name</th>
                <td>{{service_request.professional.name | title}}</td>
              </tr>
              <tr>
                <th>Date of request</th>
                <td>{{ service_request.date_of_request }}</td>
              </tr>
              <tr>
                <th>Phone</th>
                <td>{{ service_request.professional.phone }}</td>
              </tr>
              <tr>
                <th>Description</th>
                <td>{{ service_request.service.description }}</td>
              </tr>
            </tbody>
          </table>
          <form action="/user/{{ user.user_id }}/service/close/{{ service_request.request_id }}" class="mt-3" method="post" style="width: 60%; margin: auto;">
            <select class="form-select mb-3" name="rating">
              <option selected>Select Rating</option>
              <option value="1">&#x2B50;</option>
              <option value="2">&#x2B50;&#x2B50;</option>
              <option value="3">&#x2B50;&#x2B50;&#x2B50;</option>
              <option value="4">&#x2B50;&#x2B50;&#x2B50;&#x2B50;</option>
              <option value="5">&#x2B50;&#x2B50;&#x2B50;&#x2B50;&#x2B50;</option>
            </select>
            <div class="mb-3">
              <label for="remarks" class="form-label">Remarks (if any) :</label>
              <textarea class="form-control" id="remarks" rows="2" name="remarks"></textarea>
            </div>
            <div class="button-group">
              <button class="btn btn-success" type="submit">Submit</button>
              <a  href="javascript:history.back()" class="btn btn-danger">Close</a>
            </div>
          </form>
          
        </div>
      </div>
    </div>
  </div>
</body>
</html>